logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
app/jspm_packages
/nbproject/private/
webroot/bower_components
node_modules
cachekey
composer.lock
vendor/
nbproject/
webroot/protected/runtime
webroot/static
webroot/dist
webroot/data
